In [177]:
import pandas as pd
data = pd.read_csv("Wage.csv")

In [179]:
data.head(10)

,year,age,maritl,race,education,region,jobclass,health,health_ins,logwage,wage
0,2006,18,1. Never Married,1. White,1. < HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,2. No,4.318063,75.043154
1,2004,24,1. Never Married,1. White,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,2. No,4.255273,70.476020
2,2003,45,2. Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,1. <=Good,1. Yes,4.875061,130.982177
3,2003,43,2. Married,3. Asian,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,1. Yes,5.041393,154.685293
4,2005,50,4. Divorced,1. White,2. HS Grad,2. Middle Atlantic,2. Information,1. <=Good,1. Yes,4.318063,75.043154
5,2008,54,2. Married,1. White,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,1. Yes,4.845098,127.115744
6,2009,44,2. Married,4. Other,3. Some College,2. Middle Atlantic,1. Industrial,2. >=Very Good,1. Yes,5.133021,169.528538
7,2008,30,1. Never Married,3. Asian,3. Some College,2. Middle Atlantic,2. Information,1. <=Good,1. Yes,4.716003,111.720849
8,2006,41,1. Never Married,2. Black,3. Some College,2. Middle Atlantic,2. Information,2. >=Very Good,1. Yes,4.778151,118.884359
9,2004,52,2. Married,1. White,2. HS Grad,2. Middle Atlantic,2. Information,2. >=Very Good,1. Yes,4.857332,128.680488

In [181]:
data.tail(10)

,year,age,maritl,race,education,region,jobclass,health,health_ins,logwage,wage
2990,2009,50,2. Married,2. Black,2. HS Grad,2. Middle Atlantic,1. Industrial,2. >=Very Good,2. No,4.886491,132.487821
2991,2003,26,1. Never Married,2. Black,3. Some College,2. Middle Atlantic,1. Industrial,2. >=Very Good,2. No,4.778151,118.884359
2992,2007,35,2. Married,1. White,1. < HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,2. No,4.698970,109.833986
2993,2006,31,2. Married,1. White,2. HS Grad,2. Middle Atlantic,2. Information,2. >=Very Good,1. Yes,4.633468,102.870247
2994,2009,31,2. Married,1. White,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,1. Yes,4.893207,133.380608
2995,2008,44,2. Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,2. >=Very Good,1. Yes,5.041393,154.685293
2996,2007,30,2. Married,1. White,2. HS Grad,2. Middle Atlantic,1. Industrial,2. >=Very Good,2. No,4.602060,99.689464
2997,2005,27,2. Married,2. Black,1. < HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,2. No,4.193125,66.229408
2998,2005,27,1. Never Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,2. >=Very Good,1. Yes,4.477121,87.981033
2999,2009,55,5. Separated,1. White,2. HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,1. Yes,4.505150,90.481913

In [183]:
import pandas as pd
data = pd.read_csv("Wage.csv")
row_count=len(data)
print(row_count)

3000

In [185]:
import pandas as pd
data = pd.read_csv("Wage.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        3000 non-null   int64
 1   age         3000 non-null   int64
 2   maritl      3000 non-null   object
 3   race        3000 non-null   object
 4   education   3000 non-null   object
 5   region      3000 non-null   object
 6   jobclass    3000 non-null   object
 7   health      3000 non-null   object
 8   health_ins  3000 non-null   object
 9   logwage     3000 non-null   float64
 10  wage        3000 non-null   float64
dtypes: float64(2), int64(2), object(7)
memory usage: 257.9+ KB

In [187]:
import pandas as pd
data = pd.read_csv("Wage.csv")
print(data[['age', 'education']].dtypes)

age           int64
education    object
dtype: object

In [189]:
import pandas as pd
data = pd.read_csv("Wage.csv")
print(data[['age', 'education']])

      age        education
0      18     1. < HS Grad
1      24  4. College Grad
2      45  3. Some College
3      43  4. College Grad
4      50       2. HS Grad
...   ...              ...
2995   44  3. Some College
2996   30       2. HS Grad
2997   27     1. < HS Grad
2998   27  3. Some College
2999   55       2. HS Grad

[3000 rows x 2 columns]

In [191]:
import pandas as pd
data = pd.read_csv("Wage.csv")
print(data.index)

RangeIndex(start=0, stop=3000, step=1)

In [193]:
import pandas as pd
data = pd.read_csv("Wage.csv")
num_elements = data.size
print(num_elements)

33000

In [195]:
import pandas as pd
data = pd.read_csv("Wage.csv")
rows, columns = data.shape
print("row count:", rows)
print("column count:", columns)

row count: 3000
column count: 11

In [197]:
mean_w = data['wage'].mean()
std_w = data['wage'].std()
quantiles_w = data['wage'].quantile([0.25, 0.5, 0.75])
print("wage:")
print("Mean:", mean_w)
print("Standard Deviation:", std_w)
print("Quantiles:", quantiles_w)

wage:
Mean: 111.70360820174345
Standard Deviation: 41.728595492757094
Quantiles: 0.25     85.383940
0.50    104.921507
0.75    128.680488
Name: wage, dtype: float64

In [199]:
mean_a = data['age'].mean()
std_a = data['age'].std()
quantiles_a = data['age'].quantile([0.25, 0.5, 0.75])
print("age:")
print("Mean:", mean_a)
print("Standard Deviation:", std_a)
print("Quantiles:", quantiles_a)

age:
Mean: 42.41466666666667
Standard Deviation: 11.54240560995171
Quantiles: 0.25    33.75
0.50    42.00
0.75    51.00
Name: age, dtype: float64

In [201]:
mean_w = data['wage'].mean()
std_w = data['wage'].std()
quantiles_w = data['wage'].quantile([0.25, 0.5, 0.75])
print("wage:")
print("Mean:", mean_w)
print("Standard Deviation:", std_w)
print("Quantiles:", quantiles_w)
grouped_data = data.groupby('race').describe()
print(grouped_data)

wage:
Mean: 111.70360820174345
Standard Deviation: 41.728595492757094
Quantiles: 0.25     85.383940
0.50    104.921507
0.75    128.680488
Name: wage, dtype: float64
            year                                                         \
           count         mean       std     min     25%     50%     75%
race
1. White  2480.0  2005.757258  2.022451  2003.0  2004.0  2006.0  2008.0
2. Black   293.0  2005.924915  1.951771  2003.0  2004.0  2006.0  2008.0
3. Asian   190.0  2006.026316  2.163757  2003.0  2004.0  2006.0  2008.0
4. Other    37.0  2005.783784  2.083468  2003.0  2004.0  2005.0  2008.0

                     age             ...   logwage              wage  \
             max   count       mean  ...       75%       max   count
race                                 ...
1. White  2009.0  2480.0  42.394758  ...  4.867864  5.750441  2480.0
2. Black  2009.0   293.0  43.563140  ...  4.763428  5.763128   293.0
3. Asian  2009.0   190.0  41.821053  ...  4.975547  5.701323   190.0
4. Other  2009.0    37.0  37.702703  ...  4.653213  5.133021    37.0

                                                                               \
                mean        std        min        25%         50%         75%
race
1. White  112.563666  41.733830  20.085537  86.695155  106.348256  130.042934
2. Black  101.601177  37.162486  23.274704  81.283253   94.072715  117.146817
3. Asian  120.288288  46.422514  34.607418  87.981033  115.375039  144.828129
4. Other   89.973326  29.153530  38.223583  71.319639   81.283253  104.921507


                 max
race
1. White  314.329336
2. Black  318.342430
3. Asian  299.262977
4. Other  169.528538

[4 rows x 32 columns]

In [203]:
mean_a = data['age'].mean()
std_a = data['age'].std()
quantiles_a = data['age'].quantile([0.25, 0.5, 0.75])
print("age:")
print("Mean:", mean_a)
print("Standard Deviation:", std_a)
print("Quantiles:", quantiles_a)
grouped_data = data.groupby('race').describe()
print(grouped_data)

age:
Mean: 42.41466666666667
Standard Deviation: 11.54240560995171
Quantiles: 0.25    33.75
0.50    42.00
0.75    51.00
Name: age, dtype: float64
            year                                                         \
           count         mean       std     min     25%     50%     75%
race
1. White  2480.0  2005.757258  2.022451  2003.0  2004.0  2006.0  2008.0
2. Black   293.0  2005.924915  1.951771  2003.0  2004.0  2006.0  2008.0
3. Asian   190.0  2006.026316  2.163757  2003.0  2004.0  2006.0  2008.0
4. Other    37.0  2005.783784  2.083468  2003.0  2004.0  2005.0  2008.0

                     age             ...   logwage              wage  \
             max   count       mean  ...       75%       max   count
race                                 ...
1. White  2009.0  2480.0  42.394758  ...  4.867864  5.750441  2480.0
2. Black  2009.0   293.0  43.563140  ...  4.763428  5.763128   293.0
3. Asian  2009.0   190.0  41.821053  ...  4.975547  5.701323   190.0
4. Other  2009.0    37.0  37.702703  ...  4.653213  5.133021    37.0

                                                                               \
                mean        std        min        25%         50%         75%
race
1. White  112.563666  41.733830  20.085537  86.695155  106.348256  130.042934
2. Black  101.601177  37.162486  23.274704  81.283253   94.072715  117.146817
3. Asian  120.288288  46.422514  34.607418  87.981033  115.375039  144.828129
4. Other   89.973326  29.153530  38.223583  71.319639   81.283253  104.921507


                 max
race
1. White  314.329336
2. Black  318.342430
3. Asian  299.262977
4. Other  169.528538

[4 rows x 32 columns]

In [205]:
mean_of_wage = data['wage'].mean()
print(mean_of_wage)

111.70360820174345

In [207]:
median_value = data['wage'].median()
print(median_value)

104.921506533664

In [209]:
selected_columns = data.loc[:, ['age', 'wage']]
print(selected_columns)

      age        wage
0      18   75.043154
1      24   70.476020
2      45  130.982177
3      43  154.685293
4      50   75.043154
...   ...         ...
2995   44  154.685293
2996   30   99.689464
2997   27   66.229408
2998   27   87.981033
2999   55   90.481913

[3000 rows x 2 columns]

In [211]:
correlation = data['age'].corr(data['wage'])
print(correlation)

0.1956372015635886

In [213]:
top_rows = data['wage'].head(10)
print(top_rows)

0     75.043154
1     70.476020
2    130.982177
3    154.685293
4     75.043154
5    127.115744
6    169.528538
7    111.720849
8    118.884359
9    128.680488
Name: wage, dtype: float64

In [215]:
counts = data['race'].value_counts()
print(counts)

race
1. White    2480
2. Black     293
3. Asian     190
4. Other      37
Name: count, dtype: int64

In [217]:
proportions = data['race'].value_counts(normalize=True)
print(proportions)

race
1. White    0.826667
2. Black    0.097667
3. Asian    0.063333
4. Other    0.012333
Name: proportion, dtype: float64